{
  // Bot configuration
  "bot": {
      "token":"Bot-Token",
      "prefix": "!",
      "debug": true
  },
  "ravend": {
      "port": 3335,
      "user": "username",
      "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
    "doged": {
      "port": 3336,
      "user": "username",
      "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
  "lbryd": {
    "port": 3337,
    "user": "username",
    "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
  "protond": {
    "port": 3338,
    "user": "username",
    "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
  "ufod": {
    "port": 3338,
    "user": "username",
    "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
  "secid": {
    "port": 3339,
    "user": "username",
    "pass": "Do-Not-Use-This-Password-Youll-Be-Hacked-For-all-Teh-Moneys!"
  },
  "moderation":{
  "pm2Name": "TipBot",
  "perms": ["Admin","Moderator","Community Leader","Bots"],// Roles that have access to all commands.
  "botDev": "Bot Developer",// Bot Devs!
  "logchannel": "452126410190469121",// Channel to log the bots moderation..
  "botspamchannels": ["452126410190469121", "452126410190469121"]//channel that the tip message will reply in if Multi or Role tip is used.
  }
}
